*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 1000px;
    margin: 0 auto;
}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top-section h4{
    font-size: 30px;
    text-align: end;
}
.img_container{
    border-radius: 50%;
    overflow: hidden;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 29px;
    line-height: 30px;
    text-align: justify;
}
.img_container,img{
    width: 400px;
    height: 420px;
    letter-spacing: 1.2px;
}
.biography_section{
    margin: 50px 0;
}
.biography_section h3{
    margin-bottom: 22px;
}
.biography_section ul {
    margin-left: 50px;
}
.biography_section li {
    font-size: 25px;
    margin-bottom: 15px;
}
footer{
    margin: 50px 0;
}
footer p{
        font-size: 20px;
    text-align: end;
}